# Compiled files
*.o
*.pyc
*.class

# Virtual environment
venv/
.env

# Dependency directories
node_modules/
vendor/

# IDE and editor files
.vscode/
.idea/
.settings/

# Operating system files
.DS_Store
Thumbs.db

# Logs and temporary files
*.log
*.tmp
.cache/
skipper.py

# Binary files (if not needed)
*.jpg
*.png
*.mp4
*.exe
*.json
